p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.blackbox {
  padding: 1em;
  background: #F6E5B8;
  color: #42403A;
  border: 2px dashed #E9B322;
  border-radius: 10px;
}
.center {
  text-align: center;
}
